@import '../globals'
//@import '../_shared/slider/slider'

primary-color = rgb(244,67,54)

.destacados-section {
  max-width: 1044px
  text-align: center
  margin-top 50px
  padding-left 20px
  padding-right 20px

  a {
    color #3a3a3a
    text-decoration none
  }
}

.block_img {
  i {
    background-color: primary-color
    color white
    border-radius: 50%;
    padding: 35px;
  }
}
.logo-banner {
  height 300px
  background url("/assets/img/gobstones-logo.png") #3a3a3a 50% 50% no-repeat
  background-size contain
}
.banner-destacado{
  padding  25px
  text-align center
  background-color primary-color
  a {
    color white
    text-decoration underline
    cursor pointer
    font-size 30px
  }
}
.cita{
  max-width: 700px
  padding: 30px
  margin 20px
  background-color white
  h5 {
    color: dimgrey
    padding-left 5px
    border-left solid dimgrey 2px
  }
    h6 {
      color darkgray
    }
}
.cita-section {
  background-color lightgrey
}

