footer.mdl-mega-footer
   .mdl-mega-footer__middle-section
      .mdl-mega-footer__drop-down-section
         input.mdl-mega-footer__heading-checkbox(type='checkbox', checked='')
         h1.mdl-mega-footer__heading Navegacion
         ul.mdl-mega-footer__link-list
            each section in public._data.sections
               li
                  a(href="#{ section.path }") #{section.label}
      .mdl-mega-footer__drop-down-section
         input.mdl-mega-footer__heading-checkbox(type='checkbox', checked='')
         h1.mdl-mega-footer__heading Enlaces
         ul.mdl-mega-footer__link-list
            li
               a(href='https://github.com/gobstones') Organización en Github
            li
               a(href="http://www.unq.edu.ar/") Universidad Nacional de Quilmes

   .mdl-mega-footer__bottom-section
      ul.mdl-mega-footer__link-list
         li Gobstones, XGobstones y PyGobstones se desarrollan en la Universidad Nacional de Quilmes, Argentina
